{% extends "base.html" %}

{% block content %}

    <p><Strong>Buyer: </Strong> {{ order.buyer }}</p>
    <p><Strong>Placed at:</Strong> {{ order.placed_at }}</p>
    <p><strong>Products:</strong></p>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Seller</th>
            <th>Price</th>
            <th>Count</th>
        </tr>
        {% for order_item in order.orderitem_set.all %}
            <tr>
                <td><a href="{{ order_item.product.get_absolute_url }}">
                    {{ order_item.product.title }}</a>
                </td>
                <td>{{ order_item.product.seller}}</td>
                <td>{{ order_item.product.price }}</td>
                <td>{{ order_item.count }}</td>
            </tr>
        {% endfor %}
    </table>

    <p><strong>Price:</strong> {{ order.total_price }}</p>

{% endblock %}
